

.App {
    display: flex;
    flex-direction: column;
      background-image: url("./image.jpg"); 
      background-position: 50% 50%;
      background-repeat: repeat;
    }
  
  
  .col-7{
    /* background-color: rgb(4, 4, 160); */
    margin: auto;
  width: 70%;
  border-radius: 15px;
  padding: 10px;
  display:flex;
  flex-wrap: wrap;
  }
  .inner{
    /* background-color: rgb(4, 4, 160); */
    color:antiquewhite;
    margin-bottom: 20px;
  width: 100%;
  border: 3px solid navy;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  
  }
  
  .topic{
   align-items: center;
   padding-left: 550px;
   color:antiquewhite;
  
  
  }
 
  
  .search-box {
    margin-top: 20px;
    margin-bottom:20px; 
    display: flex;
    justify-content: center;
   
  }
  
  
  
  